---
import Section from "../Section.astro";
import type { Education } from "@/types";

interface Props {
	title: string;
	education: Education[];
}

const { title, education } = Astro.props;
---

<Section title={title}>
	<ul>
		{
			education.map(({ institution, startDate, endDate, area }) => {
				const startYear = new Date(startDate).getFullYear();
				const endYear =
					endDate != null ? new Date(endDate).getFullYear() : "Actual";
				const years = `${startYear} - ${endYear}`;

				return (
					<li>
						<article>
							<header>
								<div>
									<h2>
										{institution}
										<time>{years}</time>
									</h2>
								</div>
							</header>

							<footer>
								<p>{area}</p>
							</footer>
						</article>
					</li>
				);
			})
		}
	</ul>
</Section>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	time {
		color: #555;
		font-size: 0.85rem;
		min-width: 102px;
	}

	@media (width <= 700px) {
		time {
			text-align: right;
		}
	}
</style>
